services:
  - type: web
    name: auction-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist/auction-client/browser
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
